In [24]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire

Here's our plan for parsing the text data:

Convert text to all lower case for normalcy.
Remove any accented characters, non-ASCII characters.
Remove special characters.
Stem or lemmatize the words.
Remove stopwords.
Store the clean text and the original text for use in future notebooks.

In [25]:
original= acquire.get_blog_posts()

In [26]:
original

,Unnamed: 0,body,title
0,0,\nThe rumors are true! The time has arrived. C...,Codeup’s Data Science Career Accelerator is He...
1,1,\nBy Dimitri Antoniou and Maggie Giust\nData S...,Data Science Myths - Codeup
2,2,"\nBy Dimitri Antoniou\nA week ago, Codeup laun...",Data Science VS Data Analytics: What’s The Dif...
3,3,\n10 Tips to Crush It at the SA Tech Job Fair\...,10 Tips to Crush It at the SA Tech Job Fair - ...
4,4,\nCompetitor Bootcamps Are Closing. Is the Mod...,Competitor Bootcamps Are Closing. Is the Model...

In [27]:
article= original.copy()

In [28]:
article

,Unnamed: 0,body,title
0,0,\nThe rumors are true! The time has arrived. C...,Codeup’s Data Science Career Accelerator is He...
1,1,\nBy Dimitri Antoniou and Maggie Giust\nData S...,Data Science Myths - Codeup
2,2,"\nBy Dimitri Antoniou\nA week ago, Codeup laun...",Data Science VS Data Analytics: What’s The Dif...
3,3,\n10 Tips to Crush It at the SA Tech Job Fair\...,10 Tips to Crush It at the SA Tech Job Fair - ...
4,4,\nCompetitor Bootcamps Are Closing. Is the Mod...,Competitor Bootcamps Are Closing. Is the Model...

In [29]:
article.title = article.title.str.lower()
article.body = article.body.str.lower()

In [30]:
article

,Unnamed: 0,body,title
0,0,\nthe rumors are true! the time has arrived. c...,codeup’s data science career accelerator is he...
1,1,\nby dimitri antoniou and maggie giust\ndata s...,data science myths - codeup
2,2,"\nby dimitri antoniou\na week ago, codeup laun...",data science vs data analytics: what’s the dif...
3,3,\n10 tips to crush it at the sa tech job fair\...,10 tips to crush it at the sa tech job fair - ...
4,4,\ncompetitor bootcamps are closing. is the mod...,competitor bootcamps are closing. is the model...

In [31]:
def normalize(string):
    return unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8', 'ignore')

In [35]:
# df.column.apply(function_name) runs the fn on every row in the column
article.body = article.body.apply(normalize)
article.title=article.title.apply(normalize)
article

,Unnamed: 0,body,title
0,0,\nthe rumors are true! the time has arrived. c...,codeups data science career accelerator is her...
1,1,\nby dimitri antoniou and maggie giust\ndata s...,data science myths - codeup
2,2,"\nby dimitri antoniou\na week ago, codeup laun...",data science vs data analytics: whats the diff...
3,3,\n10 tips to crush it at the sa tech job fair\...,10 tips to crush it at the sa tech job fair - ...
4,4,\ncompetitor bootcamps are closing. is the mod...,competitor bootcamps are closing. is the model...

In [36]:
def remove_special_characters(string):
    return re.sub(r"[^a-z0-9'\s]", '', string)

In [38]:
article.body=article.body.apply(remove_special_characters)
article

,Unnamed: 0,body,title
0,0,\nthe rumors are true the time has arrived cod...,codeups data science career accelerator is her...
1,1,\nby dimitri antoniou and maggie giust\ndata s...,data science myths - codeup
2,2,\nby dimitri antoniou\na week ago codeup launc...,data science vs data analytics: whats the diff...
3,3,\n10 tips to crush it at the sa tech job fair\...,10 tips to crush it at the sa tech job fair - ...
4,4,\ncompetitor bootcamps are closing is the mode...,competitor bootcamps are closing. is the model...

In [ ]:
def token(string):

In [43]:
stopword_list = stopwords.words('english')

stopword_list.remove('no')
stopword_list.remove('not')

In [44]:
def remove_stopwords(string):
    words = string.split()
    filtered_words = [w for w in words if w not in stopword_list]
    joined_words = ' '.join(filtered_words)
    return joined_words

In [48]:
article.body=article.body.apply(remove_stopwords)
article.title=article.title.apply(remove_stopwords)
article

,Unnamed: 0,body,title
0,0,rumors true time arrived codeup officially ope...,codeups data science career accelerator here! ...
1,1,dimitri antoniou maggie giust data science big...,data science myths - codeup
2,2,dimitri antoniou week ago codeup launched imme...,data science vs data analytics: whats differen...
3,3,10 tips crush sa tech job fair sa tech job fai...,10 tips crush sa tech job fair - codeup
4,4,competitor bootcamps closing model danger prog...,competitor bootcamps closing. model danger? - ...

In [ ]:
# Where we start
string = unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8', 'ignore')
# But now, how do we get this to work on any string?
# Then how do we dataframe this?
# Step 1:
# Define a function that works on any string.
def normalize(string):
    return unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8', 'ignore')
# Step 2:
# Use this function on the appropriate column in a df
df = pd.DataFrame({"example": ["laéios", "nü", "stüff"]})
# df.column.apply(function_name) runs the fn on every row in the column
df["clean"] = df.example.apply(normalize)